body {
  background-color: lightsalmon;
  font-size: 15px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav{
  display: block;
}
.me2021 {
  width: 150px;
  /* border-radius: 50px; */
  border-radius: 50%;
  transition: 3s, transform 3s;
}

.me2021:hover{
  width: 200px;
  /* transform: rotate(180deg) */
}
.container {
  padding-top: 30px;
  max-width: 800px;
  margin: auto;
  /* border: 4px solid red; */
  padding: 20px;
}
.info {
  display: flex;
  background-color: lightpink;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 40px;

}

.info div{
  margin-left: 30px;
}
.info p {
  color: brown;
}

p{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation: 3s infinite alternate slidein; */
}

@keyframes slidein{
  from{
    margin-left: 100%;
    width: 300%;
  }
  75%{
    margin-left: 25%;
    width: 150%;
  }
  to{
    margin-left: 0%;
    width: 100%;

  }
}

/* .some-class div {
  float: left;
  border: 5px solid red;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin-right: 10px;
} */

.groups {
  background-color: bisque;
  border-radius: 25px;
  margin: 30px 10px 30px;
}
.groups h2 {
  text-decoration: underline;
}
.groups div {
  margin-bottom: 20px;
}
.name {
  color: red;
}

#employmenthistory {
  text-decoration: none;
}
a {
  color: brown;
}
a:hover {
  color: brown;
}
a:active {
  color: green;
}
a:visited {
  color: gray;
}
